*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.slider{
    border: 0.5px solid rgb(190, 189, 189);
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.circle{
    width: 20px;
    height:20px;
    background-color: #359144;
    border-radius: 50%; 
    position: absolute;
    top: -10px;
}
.value-display{
    color: #57a063;
    user-select: none;
}
.value {
    font-weight: bolder;
}
.progress-highlight{
    border: 2px solid rgb(74, 150, 87);
    background-color: rgb(74, 150, 87);
    position: absolute;
    top: -1px;
    width: 0px;
}