*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.slider{
    border: 1px solid grey;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.circle{
    width: 20px;
    height:20px;
    background-color: #359144;
    border-radius: 50%; 
    position: absolute;
    top: -10px;
    cursor: grab;
}
.value-display{
    color: #57a063;
}
.value {
    font-weight: bolder;
}